




--- USE [master] ----------------------------------------




CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
CREATE TYPE [dbo].[Flag] FROM [bit] NOT NULL
CREATE TYPE [dbo].[Name] FROM [nvarchar](50) NULL
CREATE TYPE [dbo].[NameStyle] FROM [bit] NOT NULL
CREATE TYPE [dbo].[OrderNumber] FROM [nvarchar](25) NULL
CREATE TYPE [dbo].[Phone] FROM [nvarchar](25) NULL
CREATE TYPE [dbo].[symbol] FROM [varchar](10) NOT NULL
CREATE TYPE [dbo].[TRADE_DATE] FROM [datetime] NOT NULL

--- USE [AdventureWorksLT2012] ----------------------------------------

USE [AdventureWorksLT2012]

CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
CREATE TYPE [dbo].[Flag] FROM [bit] NOT NULL
CREATE TYPE [dbo].[Name] FROM [nvarchar](50) NULL
CREATE TYPE [dbo].[NameStyle] FROM [bit] NOT NULL
CREATE TYPE [dbo].[OrderNumber] FROM [nvarchar](25) NULL
CREATE TYPE [dbo].[Phone] FROM [nvarchar](25) NULL




--- USE [SASDB] ----------------------------------------

USE [SASDB]

CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
CREATE TYPE [dbo].[Flag] FROM [bit] NOT NULL
CREATE TYPE [dbo].[Fundamental_Decimal] FROM [decimal](19, 4) NULL
CREATE TYPE [dbo].[Name] FROM [nvarchar](50) NULL
CREATE TYPE [dbo].[NameStyle] FROM [bit] NOT NULL
CREATE TYPE [dbo].[OpenHighLowClose] FROM [decimal](10, 2) NULL
CREATE TYPE [dbo].[OrderNumber] FROM [nvarchar](25) NULL
CREATE TYPE [dbo].[Phone] FROM [nvarchar](25) NULL
CREATE TYPE [dbo].[symbol] FROM [varchar](10) NOT NULL
CREATE TYPE [dbo].[Tech_Analysis_Decimal] FROM [decimal](15, 4) NULL
CREATE TYPE [dbo].[TradeDate] FROM [date] NOT NULL
CREATE TYPE [dbo].[Volume] FROM [int] NULL
GO


--- USE [master] ----------------------------------------

C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\
C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\

--- USE [master] ----------------------------------------


--- USE [master] ----------------------------------------


--- USE [master] ----------------------------------------


--- USE [master] ----------------------------------------


--- USE [master] ----------------------------------------



